@model Place

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/M/_Layout.cshtml";
}

<section class="content">
<header>
<h2>@ViewBag.Message</h2>
</header>

<h2>@Model.Name </h2>
 
@Model.Latitude <br />
@Model.Longitude

</section>
