@model Search

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/M/_Layout.cshtml";
}

<section class="content">
<header>
</header>

	<a href="/Home/Search" data-role="button" class="no-Ajax">Feel like working</a>
	<a href="/Home/FunSearch" data-role="button" class="no-Ajax">Fed up with working</a>

</section>
