@model List<Place>

@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/M/_Layout.cshtml";
}

<section class="content">
<header>
<h2>@ViewBag.Message</h2>
</header>

<h2>You can work here</h2>
 
<ul data-role="listview" data-inset="true" data-filter="true">
@foreach (var item in Model)
{
	<li>@Html.ActionLink(item.Name, "Detail", Hackaton.Controllers.HomeController.GetRVD(item))<span class="ui-li-count">@item.FriendCount</span></li> 
}
</ul>

<div id="map_canvas" style="width:100%; height:100%;"></div>

</section>
